<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %> 
  <body>
    <header class="header-area">
        <%- include ('partials/navbar'); %>  
          <!-- Template Main CSS File -->
  <link href="stylesheets/folio.css" rel="stylesheet">
  <link href="stylesheets/event.css" rel="stylesheet">

      </header>
      <br>
      <br>

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection" style="margin-top: 65px;">
        <div class="container">
          <div class="row justify-content-between">
  
            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="<%= rows[0].album_uri %>" class="img-responsive" alt="artist-photo">
                </div>
              </div>
            </div>
  
            <div class="col-lg-7">
              <div class="about-descr">
  
                <p class="p-heading"><%= rows[0].album_name %>
                    <br>
                    <a href="/artist?artistName=<%= rows[0].artist_name %>"><span style="font-style: italic; font-size: small;"><%= rows[0].artist_name %></span></a></p>
                <p class="separator"><%= rows[0].album_description %> </p>
  
              </div>
  
            </div>
          </div>
        </div>
      </div><!-- End About Section -->

      <!-- Songs section -->
      <section id="songs"  class="section-with-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2><%= rows[0].album_name %> Tracks</h2>
            <p>Enjoy the muziki!</p>
          </div>
          <% for (var i = 0; i < rows.length; i++) { %>
            <div class="row songs-item">
              <div class="col-md-10">
                <div class="speaker">
                  <img src="<%= rows[i].album_uri %>" alt="music">
                </div>
                <a href="/song?songName=<%= rows[i].title %>">
                <h4><%= rows[i].title %>  <br><span><%= rows[0].album_name %></span></h4>
                <p><%= rows[i].duration %></p>
              </div>
              </a>
            </div><!--END SONG SECTION-->
            <% } %> 
        </div>
      </section>
  </body>
</html>